/*myStyle.css*/

/*I don't have anything in here yet, but it'll be important later.*/

#bigFibDiv{
    background-color: green;
}

#bigPellDiv{
    background-color: yellow;
}

#bigTriDiv{
    background-color: gray;
}