/*myStyle.css*/

/*I don't have anything in here yet, but it'll be important later.*/

#bigFibDiv{
    background-color: #FFC600;
    text-align: center;
}

#bigPellDiv{
    background-color: yellow;
}

#bigTriDiv{
    background-color: gray;
}

.fib{
    overflow: auto;
}
.fib-left{
    float: left;
    display: inline-block;
    background-color: rgba(90, 84, 148, 0.4);
    margin-left: 4px;

}

.fib-right{
    float: right;
    display: inline-block;
    background-color: rgba(90, 84, 148, 0.1);
    margin-left: 4px;
}