/*myStyle.css*/

/*I don't have anything in here yet, but it'll be important later.*/

#bigFibDiv{
    background-color: #00FF00;
}

#bigPellDiv{
    background-color: yellow;
}

#bigTriDiv{
    background-color: gray;
}

.fib-left{
    float: left;
    display: inline-block;
    alignment: center;
}

.fib-right{
    float: right;
    display: inline-block;
    alignment: center;
}